
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edit-product.css">
    
</head>
<body>
    <div class="container">
        <h1>Edit Product Details</h1>
        <form action="/products/<%=product._id%>?_method=PUT" method="post">
            <input type="text" name="productName" id="" value="<%=product.productName%>">
            <input type="number" name="productPrice" id="" value="<%=product.productPrice%>">
            <input type="text" name="productRating" id="" value="<%=product.productRating%>">
            <input type="text" name="productReview" id="" value="<%=product.productReview%>">
            <button>Save</button>
        </form>
    </div>
</body>
</html>